/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Title Image */
#titleImage {
  max-width: 100%;
  height: auto;
}

/* Result Image */
#ageImage {
  max-width: 60%; /* Adjusted width for the result image */
  height: auto;
  border-radius: 8px; /* Adding border radius for some styling */
  transition: transform 0.3s ease-in-out;
}

/* Animations */
#ageImage:hover {
  transform: scale(1.1);
}

/* Additional Styles */
#result {
  font-size: 18px; /* Adjusting font size */
  padding: 20px 0;
  animation: fadeInDown 1s;
}

/* Additional Animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styles or animations can be added below */
