.calculator {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

input {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
